.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
}

main {
  border: 3px solid black;
  height: 90vh;
  overflow-y: auto;
}

.doctor {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  border-bottom: 1px solid lightblue;
}

